body{
font-family: Arial, sans-serif;
margin:0;
background:#f4f4f4;
}

header{
background:#000;
color:white;
text-align:center;
padding:30px;
}

nav{
background:#222;
padding:15px;
text-align:center;
}

nav a{
color:white;
margin:0 15px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:gold;
}

section{
padding:40px;
}

button{
background:gold;
border:none;
padding:12px 20px;
font-weight:bold;
cursor:pointer;
}

button:hover{
background:#e6c200;
}

footer{
background:#000;
color:white;
text-align:center;
padding:30px;
margin-top:40px;
}
