body{
font-family: Arial;
margin:0;
background:#f4f4f4;
text-align:center;
}

header{
background:#0b2a59;
color:white;
padding:40px;
}

section{
padding:40px;
}

h2{
color:#0b2a59;
}

footer{
background:#111;
color:white;
padding:20px;
}
